.input-group {
    position: relative;

    .input-field {
        border: 1px solid $border-color;
        width: 100%;
        height: 35px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -o-transition: 0.5s all;
        padding: 0 8px;
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        color: $text-color-dark;
        border-radius: 0px;

        &:focus-visible,
        &:focus {
            border-color: $secondary-color;
        }

        &::placeholder {
            color: lighten($color: $text-color, $amount: 20%);
            font-weight: $font-weight-normal;
        }

        /* Optional fallback if you forget to add .disabled class */
        &:disabled {
            background-color: lighten($button-disabled-color, 5%);
            color: darken($button-disabled-text-color, 5%);
            cursor: not-allowed;

            &:focus-visible,
            &:focus {
                box-shadow: none;
                border-color: $border-color;
            }
        }

        &:read-only:not(:disabled) {
            /* Optional fallback */
            background-color: $input-bg-color;
            cursor: not-allowed;

            &:focus-visible,
            &:focus {
                box-shadow: none;
                border-color: $border-color;
            }
        }

        /* Optional fallback if you forget to add .disabled class */

    }

    .input-group-text {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }
}